@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
  font-family: 'Pixeloid';
  src: url('/fonts/pixeloid/PixeloidMono.ttf') format('truetype');
}

@font-face {
  font-family: 'Pixeloid-Bold';
  src: url('/fonts/pixeloid/PixeloidSans-Bold.ttf') format('truetype');
}

@theme {
  --font-pixeloid: 'Pixeloid', monospace;
  --font-pixeloid-bold: 'Pixeloid-Bold', sans-serif;
}